@import "../../common/colors.scss";

.movie-list,
.show-list {
  margin: 20px 10px;
  h2 {
    color: $color-white;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: $font-base ;
  }
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 30px;
}